<!DOCTYPE html>
<html>

{{>head}}

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Will Estes. It uses data from mapbox.com and darksky.net.</p>
        <img class="portrait" src="./img/screenshot.png" />
    </div>
    {{>footer}}
</body>

</html>